<script setup>
    import {ref} from 'vue'
    import { useToast } from 'vue-toastification';

    const toast = useToast()
    const text = ref("")
    const amount = ref("")

    // cara mengirim data tambahan transaction ke app.vue
    const emit = defineEmits(['transactionSubmitted'])


    const onSubmit = ()=>{
        if(!text.value || !amount.value){
            toast.error("Both fields must be filled!")
            return
        } 
        
        // console.log(text.value)
        // console.log(amount.value)

        const transactionData = {
            text:text.value,
            amount:parseFloat(amount.value)
        }

        emit('transactionSubmitted', transactionData)

        text.value = ""
        amount.value = ""
    }

</script>

<template>
    <h3>Add new Transaction</h3>
    <form @submit.prevent="onSubmit" action="" id="form">
        <div class="form-control">
            <label for="text">Text</label>
            <input v-model="text" type="text" id="text" placeholder="Enter text...">
        </div>

        <div class="form-control">
            <label for="amount">Amount <br> (negative - expense, positive - income)</label>
            <input v-model="amount" type="text" name="" id="amount" placeholder="Enter Amount">
        </div>
        <button class="btn">Add Transaction</button>
    </form>
</template>