<script setup>
    // import {defineProps} from 'vue'
    // `defineProps` is a compiler macro and no longer needs to be imported.

    const props = defineProps({
        total:{
            type:Number,
            required:true
        }
    })
</script>

<template>
    <h4>Your Balance</h4>
    <h1 id="balance">${{ total }}</h1>
</template>