<script setup>
    // import {defineProps} from 'vue'
    // `defineProps` is a compiler macro and no longer needs to be imported.

    const props = defineProps({
        income:{
            type:Number,
            required:true
        },
        expenses:{
            type:Number,
            required:true
        }
    })

</script>

<template>
    <div class="inc-exp-container">
        <div>
            <h4>Income</h4>
            <p id="money-plus" class="money-plus">+${{ income }}</p>
        </div>
        <div>
            <h4>Expense</h4>
            <p id="money-minus" class="money-minus">-${{ expenses }}</p>
        </div>
    </div>
</template>