<script setup>
    // import {defineProps} from 'vue'
    // `defineProps` is a compiler macro and no longer needs to be imported.
    const props = defineProps({

        // tangkap transactions yang di pass di App.vue, sehingga bisa dipakai di page ini
        transactions:{
            type:Array,
            required:true
        }
    })

    // emit event delete agar bisa diproses di app.vue
    const emit = defineEmits(['transactionDeleted'])
    const deleteTransaction = (id)=>{
        emit('transactionDeleted', id);
    }
</script>

<template>
    <h3>History</h3>
    <ul id="list" class="list">
        <li v-for="transaction in transactions":key="transaction.id" :class="transaction.amount<0 ? 'minus':'plus' ">
            {{ transaction.text }} <span>${{ transaction.amount }}</span>
            <button @click="deleteTransaction(transaction.id)" class="delete-btn">x</button>
        </li>

        <!-- v for loop, display setiap transaction dalam array transactions -->
    </ul>
</template>