<script setup>
  import Header from './components/Header.vue';
  import Balance from './components/Balance.vue';
  import IncomeExpenses from './components/IncomeExpenses.vue';
  import TransactionList from './components/TransactionList.vue';
  import AddTransaction from './components/AddTransaction.vue';

  import {useToast} from 'vue-toastification'
  import {ref, computed, onMounted} from 'vue';

  const toast = useToast()

  // generate id unique
  const generateUniqueId = ()=>{
    return Math.floor(Math.random() * 1000000)
  }

  // transaction Data
  const transactions = ref([
    ]);

  
  onMounted(()=>{
    const savedTransactions = JSON.parse(localStorage.getItem('transactions'))
    if (savedTransactions){
      transactions.value = savedTransactions
    }
  })

  // total balance amount, hitung menggunakan computed
  const total = computed(()=>{
    /* nilai transactions di reduce (akumulator, transaction) return nilai akumulator yang berawal 0 ditambah transaction.amount  */
    return transactions.value.reduce((acc, transaction)=>{
      return acc + transaction.amount
    }, 0)
    .toFixed(2)
  });

  // get income data!
  const income = computed(()=>{
    return transactions.value
    .filter((transaction)=>
      transaction.amount>0
    )
    .reduce((acc, transaction) => {
      return acc + transaction.amount
    }, 0)
    .toFixed(2)
  })

  // get expenses data!
  const expenses = computed(()=>{
    return transactions.value
    .filter((transaction)=>
      transaction.amount<0
    )
    .reduce((acc, transaction) => {
      return acc + transaction.amount
    }, 0)
    .toFixed(2)
  })

  // add transaction
  // cara tangkap emit data transaction yang dikirim dari addtransaction.vue
  const handleTransactionSubmitted = (transactionData)=>{
    // console.log(transactionData)
    // push data transaction baru
    transactions.value.push({
      id:generateUniqueId(),
      text:transactionData.text,
      amount:transactionData.amount
    })
    savedTransactionsToLocalStorage()
    toast.success('Transaction added')
  }

  // delete transaction
  // cara tangkap emit id delete transaction
  const handleTransactionDelete = (id)=>{
    // console.log(id)
    transactions.value = transactions.value.filter((transaction)=>
      transaction.id != id
    )
    savedTransactionsToLocalStorage()
    toast.success('Transaction Deleted')
  }

  // save ke localStorage
  const savedTransactionsToLocalStorage = ()=>{
    localStorage.setItem('transactions', JSON.stringify(transactions.value))
  }

</script>

<template>
  <!-- header -->
  <Header></Header>
  <div class="contaner">
    <!-- balance -->
    <Balance :total="total"></Balance>

    <!-- income/expenses -->
    <IncomeExpenses :income="+income" :expenses="+expenses"></IncomeExpenses>

    <!-- transaction list -->
    <!-- masukan data transactions, data ini nanti ditangkap defineProps di page TransactionList.vue -->
    <TransactionList @transactionDeleted="handleTransactionDelete" :transactions="transactions"> </TransactionList>

    <!-- Add Transaction -->
    <AddTransaction @transactionSubmitted="handleTransactionSubmitted"></AddTransaction>
  </div>
</template>

<style scoped>
</style>